.sprite-camel-icon{ background-position: 0 0;  }
.sprite-dog-icon{ background-position: 0 -129px;  }
.sprite-elephant-icon{ background-position: 0 -205px;  }
.sprite-pig-icon{ background-position: 0 -294px;  }
.sprite-zebra-icon{ background-position: 0 -406px;  } 